<!-- navbar.component.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-transparent custom-navbar">
  <div class="container-fluid">
    <!-- Home link (brand) -->
    <a class="navbar-brand" routerLink="/">
      <img
        src="https://cdn.vectorstock.com/i/1000x1000/78/65/home-icon-homepage-symbol-for-your-web-site-vector-34747865.webp"
        alt="Home Icon"
        class="home-icon"
      />
      Home
    </a>

    <!-- Navbar toggler for responsive view -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <!-- Navigation Links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="authService.isAdmin()">
          <a class="nav-link animated-link" routerLink="/addproduct">Add Product</a>
        </li>
        <li class="nav-item" *ngIf="authService.isLoggedUser()">
          <a class="nav-link animated-link" routerLink="/viewproduct">View Product</a>
        </li>
        <!-- For logged-in users: View Orders -->
        <li class="nav-item" *ngIf="authService.isUser()">
            <a class="nav-link light-purple animated-link" routerLink="/viewuserorders">
              My Orders
            </a>
        </li> 
        <!-- For logged-in users: View Orders -->
        <li class="nav-item" *ngIf="authService.isAdmin()">
          <a class="nav-link light-purple animated-link" routerLink="/adminvieworders">
            All Orders
          </a>
      </li> 
      
        <!-- For logged-in users: Add Feedback -->
        <li class="nav-item" *ngIf="authService.isUser()">
          <a class="nav-link green-link animated-link" routerLink="/add-feedback">Add Feedback</a>
        </li>
        <!-- For logged-in users: My Feedbacks -->
        <li class="nav-item" *ngIf="authService.isUser()">
          <a class="nav-link green-link animated-link" routerLink="/my-feedbacks">My Feedbacks</a>
        </li>
        <!-- For admin users: View Feedbacks -->
        <li class="nav-item" *ngIf="authService.isAdmin()">
          <a class="nav-link green-link animated-link" routerLink="/view-feedbacks">View Feedbacks</a>
        </li>
      </ul>

      <!-- User Profile Section -->
      <div 
        class="user-profile"
        tabindex="0"
        role="button"
        (click)="openProfileSelector()"
        (keydown)="handleProfileKeydown($event)"
      >
        <div class="profile-info">
          <span class="user-name">{{ userName || 'User' }}</span>
        </div>
        <img 
          [src]="profilePic" 
          alt="Profile Picture" 
          class="profile-pic"
          tabindex="0"
          role="button"
          (click)="openProfileSelector()"
          (keydown)="handleProfileKeydown($event)"
        />
      </div>
      
      <!-- Login/Register/Logout Buttons -->
      <div class="d-flex">
        <button *ngIf="!authService.isLoggedUser()" class="btn btn-outline-primary me-2" routerLink="/login">
          Login
        </button>
        <button *ngIf="!authService.isLoggedUser()" class="btn btn-outline-success me-2" routerLink="/register">
          Register
        </button>
        <button *ngIf="authService.isLoggedUser()" class="btn btn-danger" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>

<!-- Profile Selector Modal -->
<div *ngIf="showProfileSelector" class="profile-selector-overlay" (click)="closeProfileSelector()">
  <div class="profile-selector-content" (click)="$event.stopPropagation()">
    <h5 class="mb-3">Select Profile Picture</h5>
    <div class="d-flex flex-wrap justify-content-center">
      <img
        *ngFor="let pic of availablePics"
        [src]="pic"
        alt="Profile Option"
        class="profile-option m-2"
        (click)="selectProfilePic(pic)"
        tabindex="0"
        role="button"
        (keydown)="handleProfileKeydown($event)"
      />
    </div>
    <button class="btn btn-secondary mt-2" (click)="closeProfileSelector()">Cancel</button>
  </div>
</div>